<style>
  .jumbotron {
    background: url('/static/images/burning_book.jpg') top center no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 6;
  }

  .jumbotron:after {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 7;
  }

  #burning-book {
    position: absolute;
    z-index: 8;
    color: #fff;
    top: 25%;
    margin: -50px auto 0;
    left: 0;
    right: 0;
    max-width: 750px;
  }

  #burning-book h2 {
    margin: 2rem 0;
  }

  #burning-book pre {
    margin: 2rem 0;
    background: #efefef;
    width: 100%;
    white-space: pre-wrap;
    padding: 20px;
    word-break: break-word;
  }

  #burning-book .btn-primary {
    width: 100%;
    text-align: center;
    font-size: 1.75rem;
  }

  #burning-book ul {
    display: flex;
    justify-content: space-between;
  }

  #burning-book ul li a {
    width: 160px;
  }

  @media (max-width: 650px) {
    #burning-book {
      top: 2rem;
      margin-top: 0;
    }

    #burning-book ul {
      display: block;
    }

    #burning-book ul li {
      margin-top: 1.25rem;
    }

    #burning-book ul li:first-child {
      margin-top: 0;
    }

    #burning-book ul li a {
      width: 100%;
    }
  }
</style>

<section id="burning-book" class="container">
  <h1>{{err.status}}: That is an error.</h1>
  <pre>{{err.message}}</pre>
  <div><a href="/" class="btn btn-primary btn-lg">Back to Home Page</a></div>
  <h2>Or...</h2>
  <ul>
    <li>
      <a href="/music" class="btn btn-light btn-lg">Your Music</a>
    </li>

    <li>
      <a href="/search" class="btn btn-light btn-lg">Search Music</a>
    </li>

    <li>
      <a href="/profile" class="btn btn-light btn-lg">Your Account</a>
    </li>

    <li>
      <a href="/playlists" class="btn btn-light btn-lg">Playlists</a>
    </li>
  </ul>
</section>